
@{
    ViewBag.Title = "Danh sách quyền người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<WebBookShop.Models.RoleModel>
@using WebBookShop.Models

<div class="container-fluid">
    <div class="mx-4">
        <p>
            <a href="/admin/home" class="text-info">Trang chủ </a>
            <span class="active">/ Quản lý danh sách quyền người dùng</span>
        </p>
    </div>

    <div id="DataSearching">
    </div>

    @using (Html.BeginForm("index", "role", FormMethod.Post))
    {
        <div style="width:100%;height:85px">
            <div class="form-group">
                <input type="text" name="keyword" value="@ViewBag.SearchRole" style="width:20%" class="form-control input-default float-right" placeholder="Tìm kiếm">
                <button type="submit" class="btn mb-1 btn-outline-light float-right">
                    <i class="mdi mdi-magnify" style="font-size:20px"></i>
                </button>
            </div>
        </div>
    }

    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Quản lý danh sách quyền người dùng</h4>
            </div>
            <div>
                <a href="/admin/role/create" class="btn btn-success my-3">Thêm mới</a>
            </div>
            <div class="d-flex d-inline align-items-center">
                <span>Hiển thị</span>
                @Html.DropDownList("showpagesize", TempData["showpagesize"] as List<SelectListItem>, new { @onchange = "location = this.value", @class = "form-control mt-1 mx-1", @id = "sel1", @style = "width:5%;height:1px; padding:9px" })
                <span>thông tin trên một trang</span>
            </div>
            <div class="table-responsive" id="datatable">
                <table class="table table-hover mb-5">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="width:500px">
                                @*@Html.ActionLink("Tên chức vụ", "index", new { sortRole = ViewBag.SortRoleName }, new { @style = "padding: 13px 399px 13px 0;color:blue" })*@
                                <a class="text-bg-info" href="/Admin/role?sort=@ViewBag.SortRole&sortBy=rolename&page=@ViewBag.PageRole&pageSize=@ViewBag.PageSizeRole&keyword=@ViewBag.SearchRole" style="padding: 13px 350px 13px 0;">
                                    Tên chức vụ
                                    <i class="mdi mdi-arrow-@TempData["IconSortRoleName"]"></i>
                                </a>
                            </th>
                            <th>
                                <a class="text-bg-info" href="/Admin/role?sort=@ViewBag.SortRole&sortBy=createdate&page=@ViewBag.PageRole&pageSize=@ViewBag.PageSizeRole&keyword=@ViewBag.SearchRole">
                                    Thời gian tạo
                                    <i class="mdi mdi-arrow-@TempData["IconSortRoleCreate"]"></i>
                                </a>
                            </th>
                            <th>
                                <a class="text-bg-info" href="/Admin/role?sort=@ViewBag.SortRole&sortBy=updatedate&page=@ViewBag.PageRole&pageSize=@ViewBag.PageSizeRole&keyword=@ViewBag.SearchRole">
                                    Thời gian sửa
                                    <i class="mdi mdi-arrow-@TempData["IconSortRoleUpdate"]"></i>
                                </a>

                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    @{ int index = 1;}
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">
                                <td>@index</td>
                                <td>@item.RoleName</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.UpdateDate</td>
                                <td>
                                    <div style="font-size:18px">
                                        <a class="mr-4" style="color:#ef8832" href="/admin/role/edit/@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sửa">
                                            <i class="fa fa-pencil color-muted m-r-5"></i>
                                        </a>
                                        @*@Ajax.ActionLink(" ", "Delete", new { @id = item.Id }, new AjaxOptions
        {

            Confirm = "Bạn có muốn xóa thông tin có tên: " + item.RoleName + "?",
            OnComplete = "$('#row_" + item.Id + "').remove()",
            HttpMethod = "Post",
            OnSuccess = "OnSuccess",
        }, new { @id = "toastr-success-top-right", @class = "fa fa-trash", @style = "color: #ff5e5e" })*@
                                        @*@Html.ActionLink(" ", "Delete", new { @id = item.Id }, new { @id = "toastr-success-top-right", @class = "fa fa-trash", @style = "color: #ff5e5e" })*@
                                        <a onclick="if (confirm('Bạn có muốn xóa thông tin này ?') == true) { location.href='/admin/role/delete/@item.Id' }" class="mr-4" style="color: #ff5e5e" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xóa                    ">
                                            <i class="fa fa-trash color-muted m-r-5"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            index++;
                        }
                    </tbody>
                </table>
           
                <div class="paging">

                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { @sort = ViewBag.SortPageRole, @sortBy = ViewBag.SortByPageRole, page, @pageSize = ViewBag.PageSizeRole, @keyword = ViewBag.SearchRole }), new PagedListRenderOptions
               {
                   LiElementClasses = new string[] { "page-item" },
                   UlElementClasses = new string[] { "pagination" },
                   MaximumPageNumbersToDisplay = 3,
               })
                </div>

            </div>
        </div>
    </div>
</div>

@section ADMINSCRIPT{
    
       
        <style>
            .pagination a {
                position: relative;
                display: block;
                padding: 0.5rem 0.75rem;
                margin-left: -1px;
                line-height: 1.25;
                color: #7571f9;
                background-color: #fff;
                border: 1px solid #dee2e6;
            }

            .paging .active {
                color: white;
            }

                .paging .active a {
                    background-color: #7571f9;
                }
        </style>
    }



