
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using PagedList
@using PagedList.Mvc

@model IEnumerable<WebBookShop.Models.ProductModel>

<div class="container-fluid">

    <div class="mx-4">
        <p>
            <a href="/admin/product" class="text-info">Trang chủ </a>
            <span class="active">/ Quản lý danh sách sản phẩm</span>
        </p>
    </div>

    <div id="DataSearching">
    </div>

    @using (Html.BeginForm("index", "product", FormMethod.Post))
    {
        <div style="width:100%;height:85px">
            <div class="form-group">
                <input type="text" name="keyword" value="@ViewBag.SearchProduct" style="width:20%" class="form-control input-default float-right" placeholder="Tìm kiếm">
                <button type="submit" class="btn mb-1 btn-outline-light float-right">
                    <i class="mdi mdi-magnify" style="font-size:20px"></i>
                </button>
            </div>
        </div>
    }
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Quản lý danh sách sản phẩm</h4>
            </div>
            <div>
                <a href="/admin/product/create" class="btn btn-success my-3">Thêm mới</a>
            </div>
            <div class="d-flex d-inline align-items-center">
                <span>Hiển thị</span>
                @*@Html.DropDownList("showpagesize", TempData["showpagesize"] as List<SelectListItem>, new { @onchange = "location = this.value", @class = "form-control mt-1 mx-1", @id = "sel1", @style = "width:5%;height:1px; padding:9px" })*@
                <span>thông tin trên một trang</span>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>
                                <a class="text-bg-info" href="/admin/product?sort=@ViewBag.SortUser&sortBy=email&page=@ViewBag.PageUser&pageSize=@ViewBag.PageSizeUser&keyword=@ViewBag.SearchUser">
                                    Tên sản phẩm
                                    <i class="mdi mdi-arrow-@TempData["IconSortEmail"]"></i>
                                </a>
                            </th>
                            <th>Ảnh</th>
                            <th>Giá</th>
                            <th>Nổi bật</th>
                            <th>Trạng thái</th>
                            <th>
                                <a class="text-bg-info" href="/admin/product?sort=@ViewBag.SortUser&sortBy=createdate&page=@ViewBag.PageUser&pageSize=@ViewBag.PageSizeUser&keyword=@ViewBag.SearchUser">
                                    Thời gian tạo
                                    <i class="mdi mdi-arrow-@TempData["IconSortUserCreate"]"></i>
                                </a>
                            </th>
                            <th>
                                <a class="text-bg-info" href="/admin/product?sort=@ViewBag.SortUser&sortBy=updatedate&page=@ViewBag.PageUser&pageSize=@ViewBag.PageSizeUser&keyword=@ViewBag.SearchUser">
                                    Thời gian sửa
                                    <i class="mdi mdi-arrow-@TempData["IconSortUserUpdate"]"></i>
                                </a>
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    @{int index = 1;}
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">
                                <td>@index</td>
                                <td>@item.ProductName</td>
                                <td></td>
                                <td>@item.Price</td>
                                <td>@item.Hot</td>
                                <td>@item.Status</td>
                                <td>@item.CreatedDate</td>
                                <td>@item.UpdateDate</td>
                                <td>
                                    <div style="font-size:18px">
                                        <a class="mr-4" href="/admin/product/detail/@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chi tiết">
                                            <i class="mdi mdi-information m-r-5"></i>
                                        </a>
                                        <a class="mr-4" style="color:#ef8832" href="/admin/product/edit/@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sửa">
                                            <i class="fa fa-pencil color-muted m-r-5"></i>
                                        </a>
                                        @Ajax.ActionLink(" ", "Delete", new { @id = item.Id }, new AjaxOptions
                                        {
                                            Confirm = "Bạn có muốn xóa thông tin có tên: " + item.ProductName + "?",
                                            OnComplete = "$('#row_" + item.Id + "').remove()",
                                            HttpMethod = "Delete",
                                            OnSuccess = "OnSuccess",
                                        }, new { @class = "fa fa-trash", @style = "color: #ff5e5e" })
                                    </div>
                                </td>
                            </tr>

                            index++;
                        }
                    </tbody>
                </table>
                <div class="paging">

                    @*@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { @sort = ViewBag.SortPageUser, @sortBy = ViewBag.SortByPageUser, page, @pageSize = ViewBag.PageSizeUser, @keyword = ViewBag.SearchUser }), new PagedListRenderOptions
               {
                   LiElementClasses = new string[] { "page-item" },
                   UlElementClasses = new string[] { "pagination" },
                   MaximumPageNumbersToDisplay = 3,
               })*@
                </div>

            </div>
        </div>
    </div>
</div>


@section ADMINSCRIPT{

    <script>
        function OnSuccess() {
            var SetData = $("#DataSearching");
            SetData.html("<div class=" + "'alert alert-success alert-dismissible fade show'" + ">" +
                "<button type=" + "button" + " class=" + "close" + " data-dismiss=" + "alert" + " aria-label=" + "Close" + ">" +
                "<span aria-hidden=" + "true" + ">×</span>" +
                "</button>" +
                "<strong>Thông báo!</strong> <br />" +
                "<span>Xóa thông tin thành công.</span>" +
                "</div>"

            );

        }

    </script>
    <style>
        .pagination a {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #7571f9;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .paging .active {
            color: white;
        }

            .paging .active a {
                background-color: #7571f9;
            }
    </style>
}

