
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using System.Globalization;
@using PagedList
@using PagedList.Mvc
@using WebBookShop.Services
@model PagedList.IPagedList<WebBookShop.Models.ProductModel>

<div class="container-fluid">

    <div class="mx-4">
        <p>
            <a href="/admin/product" class="text-info">Trang chủ </a>
            <span class="active">/ Quản lý danh sách sản phẩm</span>
        </p>
    </div>

    <div id="DataSearching">
    </div>

    @using (Html.BeginForm("index", "product", FormMethod.Post))
    {
        <div style="width:100%;height:85px">
            <div class="form-group">
                <input type="text" name="keyword" value="@ViewBag.SearchProduct" style="width:20%" class="form-control input-default float-right" placeholder="Tìm kiếm">
                <button type="submit" class="btn mb-1 btn-outline-light float-right">
                    <i class="mdi mdi-magnify" style="font-size:20px"></i>
                </button>
            </div>
        </div>
    }
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Quản lý danh sách sản phẩm</h4>
            </div>
            <div>
                <a href="/admin/product/create" class="btn btn-success my-3">Thêm mới</a>
                <a href="/admin/warehouse" class="btn btn-primary float-right">Kho sản phẩm</a>
            </div>

            <div class="d-flex d-inline align-items-center">
                <span>Hiển thị</span>
                @Html.DropDownList("showpagesize", TempData["showpagesize"] as List<SelectListItem>, new { @onchange = "location = this.value", @class = "form-control mt-1 mx-1", @id = "sel1", @style = "width:5%;height:1px; padding:9px" })
                <span>thông tin trên một trang</span>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th style="width:180px">
                                <a class="text-bg-info" href="/admin/product?sort=@ViewBag.Sort&sortBy=productname&page=@ViewBag.Page&pageSize=@ViewBag.PageSize&keyword=@ViewBag.Search">
                                    Tên sản phẩm
                                    <i class="mdi mdi-arrow-@TempData["IconSortName"]"></i>
                                </a>
                            </th>
                            <th>Ảnh</th>
                            <th>Thể loại</th>
                            <th>
                                <a class="text-bg-info" href="/admin/product?sort=@ViewBag.Sort&sortBy=price&page=@ViewBag.Page&pageSize=@ViewBag.PageSize&keyword=@ViewBag.Search">
                                    Giá
                                    <i class="mdi mdi-arrow-@TempData["IconSortPrice"]"></i>
                                </a>
                            </th>
                            <th>Nổi bật</th>
                            <th>Trạng thái</th>
                            <th>
                                <a class="text-bg-info" href="/admin/product?sort=@ViewBag.Sort&sortBy=createdate&page=@ViewBag.Page&pageSize=@ViewBag.PageSize&keyword=@ViewBag.Search">
                                    Thời gian tạo
                                    <i class="mdi mdi-arrow-@TempData["IconSortCreate"]"></i>
                                </a>
                            </th>
                            <th>
                                <a class="text-bg-info" href="/admin/product?sort=@ViewBag.Sort&sortBy=updatedate&page=@ViewBag.Page&pageSize=@ViewBag.PageSize&keyword=@ViewBag.Search">
                                    Thời gian sửa
                                    <i class="mdi mdi-arrow-@TempData["IconSortUpdate"]"></i>
                                </a>
                            </th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    @{int index = 1;}
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.Id">
                                <td>@index</td>
                                <td>@item.ProductName</td>
                                <td>
                                    @{var rs = new ImageProductService().GetByThumbnail(item.Id);
                                        if (rs != null)
                                        {
                                            <img src="@Url.Content(rs)" style="width:110px" />
                                        }
                                        else
                                        {
                                            <span>N/A</span>
                                        }

                                    }
                                </td>
                                <td>@item.CategoryName</td>
                                <td>
                                    @{
                                        var strPrice = string.Format(new CultureInfo("vi-VN"), "{0:#,## đ}", item.Price);
                                        @strPrice
                                    }
                                </td>
                                <td>
                                    @if (item.Hot == true)
                                    {
                                        <a href="#" class="badge badge-danger px-2 btn-active-hot" data-id="@item.Id">Hot</a>
                                    }
                                    @if (item.Hot == false)
                                    {
                                        <a href="#" class="badge badge-light px-2 btn-active-hot" data-id="@item.Id">Không</a>
                                    }
                                </td>
                                <td>
                                    @if (item.Status == true)
                                    {
                                        <a href="#" class="badge badge-success px-2 btn-active" data-id="@item.Id">Kích hoạt</a>
                                    }
                                    @if (item.Status == false)
                                    {
                                        <a href="#" class="badge badge-light px-2 btn-active" data-id="@item.Id">Ẩn</a>
                                    }
                                </td>
                                <td>
                                    @{
                                        var str = item.CreatedDate.ToString().Substring(0, 10);
                                    }
                                    @str
                                </td>
                                <td>
                                    @{
                                        if (item.UpdateDate != null)
                                        {
                                            var str2 = item.UpdateDate.ToString().Substring(0, 10);
                                            <span>@str2</span>
                                        }

                                    }

                                </td>
                                <td>
                                    <div style="font-size:18px">
                                        <a class="mr-3" href="/admin/product/image/@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Quản lý ảnh">
                                            <i class="mdi mdi-folder-multiple-image" style="color:rgb(9, 143, 244)"></i>
                                        </a>
                                        <a class="mr-3" href="/admin/product/detail/@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Chi tiết">
                                            <i class="mdi mdi-information m-r-5"></i>
                                        </a>
                                        <a class="mr-3" style="color:#ef8832" href="/admin/product/edit/@item.Id" data-toggle="tooltip" data-placement="top" title="" data-original-title="Sửa">
                                            <i class="fa fa-pencil color-muted m-r-5"></i>
                                        </a>
                                        <a onclick="if (confirm('Bạn có muốn xóa thông tin này ?') == true) { location.href='/admin/product/delete/@item.Id' }" class="mr-4" style="color: #ff5e5e" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xóa                    ">
                                            <i class="fa fa-trash color-muted m-r-5"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            index++;
                        }
                    </tbody>
                </table>
                <div class="paging">

                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { @sort = ViewBag.SortPage, @sortBy = ViewBag.SortByPage, page, @pageSize = ViewBag.PageSize, @keyword = ViewBag.Search }), new PagedListRenderOptions
                        {
                            LiElementClasses = new string[] { "page-item" },
                            UlElementClasses = new string[] { "pagination" },
                            MaximumPageNumbersToDisplay = 3,
                        })
                </div>

            </div>
        </div>
    </div>
</div>


@section ADMINSCRIPT{
    <script src="/assets/admin/controller/productController.js"></script>
  
    <style>
        .pagination a {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #7571f9;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .paging .active {
            color: white;
        }

            .paging .active a {
                background-color: #7571f9;
            }
    </style>
}

