
@{
    ViewBag.Title = "Cạp nhập chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model WebBookShop.Models.OrderDetailModel

<div class="container-fluid">
    <div>
        <p>
            <a href="/admin/order/detail/@TempData["ORDERID"]" class="text-info">Quay lại </a>
            <span class="active">/ Cập nhập chi tiết đơn hàng</span>
        </p>
    </div>

    @if (TempData["CREATE"] != null)
    {
        <div class="alert alert-@TempData["ALEART"] alert-dismissible fade show " id="alo123">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong>Thông báo!</strong> <br />
            <span>@TempData["CREATE"].</span>
        </div>
    }

    <div class="card">
        <div class="card-body">
            <div class="card-title mb-4">
                <h4>Cập nhập chi tiết sản phẩm đơn hàng</h4>
            </div>
            <div class="basic-form">
                <div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Lọc theo thể loại</label>
                        <div class="col-sm-10 d-flex d-inline">
                            @Html.DropDownList("cateid", (SelectList)ViewBag.CateList, "--- Tất cả ---", new { @onchange = "location = '/admin/order/createdetail?id=1&cateid='+this.value", @class = "form-control", @style = "width:250px" })

                        </div>
                    </div>
                </div>

                @using (Html.BeginForm("EditDetail", "Order", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "")
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Tên sản phẩm</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.ProductId, (SelectList)ViewBag.ProductList, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Số lượng</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Quantity, new { @type = "number", @class = "form-control reloadtext", @placeholder = "Nhập số lượng" })
                            @Html.ValidationMessageFor(m => m.Quantity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" id="btnsave" class="btn btn-dark mt-3 mr-5">Cập nhật</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
