
@{
    ViewBag.Title = "Danh sách đơn đặt hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using System.Globalization;
@using PagedList
@using PagedList.Mvc

@model PagedList.IPagedList<WebBookShop.Models.OrderModel>

<div class="container-fluid">
    <div class="mx-4">
        <p>
            <a href="/admin/home" class="text-info">Trang chủ </a>
            <span class="active">/ Quản lý danh sách đơn đặt hàng</span>
        </p>
    </div>


    @using (Html.BeginForm("index", "order", FormMethod.Post))
    {
        <div style="width:100%;height:85px">
            <div class="form-group">
                <input type="text" name="keyword" value="@ViewBag.Search" style="width:20%" class="form-control input-default float-right" placeholder="Tìm kiếm">
                <button type="submit" class="btn mb-1 btn-outline-light float-right">
                    <i class="mdi mdi-magnify" style="font-size:20px"></i>
                </button>
            </div>
        </div>
    }

    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Quản lý danh sách đơn đặt hàng</h4>
            </div>
            <div>
                <a href="/admin/order/create" class="btn btn-success my-3">Thêm mới</a>
                <div class="float-right text-dark" style="width:150px;height:98px">
                    <div class="d-flex d-inline m-2">
                        <div style="width: 20px; height: 20px; background-color: rgb(163, 249, 125)"></div>
                        <span class="ml-2">Giao thành công</span>
                    </div>
                    <div class="d-flex d-inline m-2">
                        <div style="width: 20px; height: 20px; background-color: rgb(255, 251, 178)"></div>
                        <span class="ml-2">Đang xử lý</span>
                    </div>
                    <div class="d-flex d-inline m-2">
                        <div style="width: 20px; height: 20px; background-color: rgb(250, 112, 112)"></div>
                        <span class="ml-2">Đơn hàng hủy</span>
                    </div>
                </div>
            </div>

            <div class="d-flex d-inline align-items-center">
                <span>Hiển thị</span>
                @Html.DropDownList("showpagesize", TempData["showpagesize"] as List<SelectListItem>, new { @onchange = "location = this.value", @class = "form-control mt-1 mx-1", @id = "sel1", @style = "width:6%;height:1px; padding:9px" })
                <span>thông tin trên một trang</span>

            </div>

            <div class="row mt-4">
                @if (Model != null)
                {
                    foreach (var item in Model)
                    {

                        if (item.Status == true && item.Delivered == false)
                        {
                            TempData["COLOR"] = "rgb(251, 250, 233)";
                        }
                        else if (item.Status == false && item.Delivered == false)
                        {
                            TempData["COLOR"] = "rgb(255, 143, 143)";
                        }
                        else if (item.Delivered == true)
                        {
                            TempData["COLOR"] = "rgb(190, 248, 165)";
                        }

                        <div class="col-md-6 col-lg-3" id="row_@item.Id">
                            <div class="card" style="background-color: @TempData["COLOR"] ">
                                <div class="card-header">

                                    <a onclick="if (confirm('Bạn có muốn xóa đơn hàng này ?') == true) { location.href='/admin/order/delete/@item.Id' }" class="badge badge-danger float-right" href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Xóa                    ">
                                        X
                                    </a>
                                    <h5 class="card-title">Mã đơn hàng @item.Id</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">@item.OrderDate</h6>
                                </div>

                                <div class="card-body text-dark">
                                    <p class="card-text">Khách hàng: @item.CustomerName</p>
                                    <p class="card-text">SĐT: @item.Phone</p>
                                    <p class="card-text">Email: @item.Email</p>
                                    <p class="card-text">Địa chỉ: @item.Address</p>
                                    <div class="float-right">
                                        <p class="card-text">Giảm giá: @item.Discount%</p>
                                        <p class="card-text">
                                            @{
                                                var strPrice = string.Format(new CultureInfo("vi-VN"), "{0:#,## đ}", item.TotalPrice);
                                                <span>Tổng tiền: @strPrice</span>
                                            }
                                        </p>
                                    </div>

                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        Thời gian giao hàng:
                                        @{
                                            if (item.DeliveredDate != null)
                                            {
                                                <span>@item.DeliveredDate</span>
                                            }
                                            else
                                            {
                                                <span>Chờ giao hàng</span>
                                            }


                                        }
                                    </p>
                                    @{
                                        if (item.Delivered == false)
                                        {
                                            <p class="card-text d-inline">
                                                <a href="/admin/order/edit/@item.Id" class="card-link text-warning"><u><small>Cập nhật </small></u></a>
                                            </p>
                                        }
                                        else
                                        {
                                            <p class="card-text d-inline text-success">Đơn hàng đã giao thành công!</p>
                                        }
                                    }

                                    <a href="/admin/order/detail/@item.Id" class="card-link float-right"><u><small>Chi tiết đơn hàng -->></small></u></a>
                                </div>
                            </div>
                        </div>
                    }
                }

                @if (Model == null)
                {
                    <p class="col-12 text-lg-center mt-lg-4" style="font-size:20px">DANH SÁCH ĐƠN HÀNG RỖNG !!!</p>
                }
            </div>

            <div class="paging">

                @if (Model != null)
                {
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page, @pageSize = ViewBag.PageSizeCate, @keyword = ViewBag.Search }), new PagedListRenderOptions
               {
                   LiElementClasses = new string[] { "page-item" },
                   UlElementClasses = new string[] { "pagination" },
                   MaximumPageNumbersToDisplay = 3,
               })
                }
            </div>

        </div>
    </div>
</div>


@section ADMINSCRIPT{
   
    <style>
        .pagination a {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #7571f9;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .paging .active {
            color: white;
        }

            .paging .active a {
                background-color: #7571f9;
            }
    </style>

}
