@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/admin/images/favicon.png">
    <!-- Pignose Calender -->
    <link href="~/Assets/admin/plugins/pg-calendar/css/pignose.calendar.min.css" rel="stylesheet">
    <!-- Chartist -->
    <link rel="stylesheet" href="~/Assets/admin/plugins/chartist/css/chartist.min.css">
    <link rel="stylesheet" href="~/Assets/admin/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css">
    <!-- Custom Stylesheet -->
    <link href="~/Assets/admin/css/style.css" rel="stylesheet">
    
</head>

<body>


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="/admin/home">
                    <span class="brand-title text-white font-weight-bold" style="font-size:24px">
                        BOOKHIVE
                        <span class="ml-1">admin</span>
                    </span>
                    
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content clearfix">

                @*<div class="nav-control">
                        <div class="hamburger">
                            <span class="toggle-icon"><i class="icon-menu"></i></span>
                        </div>
                    </div>*@
                @*<div class="header-left">
                        <div class="input-group icons">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                            </div>
                            <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                            <div class="drop-down animated flipInX d-md-none">
                                <form action="#">
                                    <input type="text" class="form-control" placeholder="Search">
                                </form>
                            </div>
                        </div>
                    </div>*@
                <div class="header-right">
                    <ul class="clearfix">
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative" data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="~/Assets/admin/images/user/1.png" height="40" width="40" alt="">

                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu" style="min-width: 16rem;">
                                <div class="dropdown-content-body">
                                    <ul>
                                        <li>
                                            <a href="#"><i class="icon-user"></i> <span>@Session["LOGINSESSION"]</span></a>
                                        </li>
                                        <li><a href="/admin/login"><i class="icon-key"></i> <span>Đăng xuất</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        @RenderPage("_SidebarPartial.cshtml")

        <!--**********************************
        Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->

        <div class="content-body" >
            @RenderBody()
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                @*<p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a> 2018</p>*@
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    <!--**********************************
        Scripts
    ***********************************-->
    <script src="~/Assets/admin/plugins/common/common.min.js"></script>
    <script src="/assets/admin/js/custom.min.js"></script>
    <script src="~/Assets/admin/js/settings.js"></script>
    <script src="~/Assets/admin/js/gleek.js"></script>
    <script src="~/Assets/admin/js/styleSwitcher.js"></script>
 
    <!-- Chartjs -->
    <script src="~/Assets/admin/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="~/Assets/admin/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->
    <script src="~/Assets/admin/plugins/d3v3/index.js"></script>
    <script src="~/Assets/admin/plugins/topojson/topojson.min.js"></script>
    <script src="~/Assets/admin/plugins/datamaps/datamaps.world.min.js"></script>
    <!-- Morrisjs -->
    <script src="~/Assets/admin/plugins/raphael/raphael.min.js"></script>
    <script src="~/Assets/admin/plugins/morris/morris.min.js"></script>
    <!-- Pignose Calender -->
    <script src="~/Assets/admin/plugins/moment/moment.min.js"></script>
    <script src="~/Assets/admin/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="~/Assets/admin/plugins/chartist/js/chartist.min.js"></script>
    <script src="~/Assets/admin/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
    <script src="~/Assets/admin/plugins/ckeditor/plugins/cloudservices/plugin.js"></script>
    <script src="~/Assets/admin/js/dashboard/dashboard-1.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Assets/admin/ckeditor/ckeditor.js"></script>
    
    <script  src="/Assets/admin/myscript.js"></script>
    @RenderSection("ADMINSCRIPT", false)
   
</body>

</html>

