
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    DateTime date = new DateTime(DateTime.Now.Year, DateTime.Now.Month, 1);
    var dateStr = date.ToString();
}
@using System.Globalization;
<div class="container-fluid mt-3">
    <div class="row">

        <div class="col-lg-6 col-sm-6">
            <div class="card gradient-1">
                <div class="card-body">
                    <h3 class="card-title text-white">Sản phẩm đã bán</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewBag.CountOrder</h2>
                        <p class="text-white mb-0">
                            <span>Tháng @dateStr.Substring(3, 8)</span>
                        </p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-6">
            <div class="card gradient-3">
                <div class="card-body">
                    <h3 class="card-title text-white">Người dùng mới</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">@ViewBag.CountUser</h2>
                        <p class="text-white mb-0">
                            <span>Tháng @dateStr.Substring(3, 8)</span>
                        </p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-users"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-6">
            <div class="card gradient-2">
                <div class="card-body">
                    <h3 class="card-title text-white">Doanh thu</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">
                            @{
                                var strPrice = string.Format(new CultureInfo("vi-VN"), "{0:#,## đ}", ViewBag.TotalPriceOrder);
                                @strPrice
                            }
                        </h2>
                        <p class="text-white mb-0">Tháng @dateStr.Substring(3, 8)</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-6">
            <div class="card gradient-4">
                <div class="card-body">
                    <h3 class="card-title text-white">Tiền nhập hàng</h3>
                    <div class="d-inline-block">
                        <h2 class="text-white">
                            @{
                                var strPrice2 = string.Format(new CultureInfo("vi-VN"), "{0:#,## đ}", ViewBag.TotalPriceInvocie);
                                @strPrice2
                            }
                        </h2>
                        <p class="text-white mb-0">Tháng @dateStr.Substring(3, 8)</p>
                    </div>
                    <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                </div>
            </div>
        </div>


    </div>

</div>
<!-- #/ container -->
