
@{
    if (Session["LOGIN_CLIENT"] == null)
    {
        ViewBag.Title = "Đăng nhập để thanh toán";
    }
    else
    {
        ViewBag.Title = "Chọn địa chỉ giao hàng";
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebBookShop.Models.UserModel
<div class="cart mb-5">
    <div class="container-fluid">
        <div class="row">
            <div class="cart__left col-md-8">
                @if (Session["CartSession"] != null)
                {

                    if (Session["LOGIN_CLIENT"] == null)
                    {
                        <div class="cart__title ">
                            Đăng nhập để thanh toán
                        </div>
                        using (Html.BeginForm("index", "checkout", FormMethod.Post))
                        {

                            <div class="box__checkout">
                                <div class="form__groups">

                                    <input type="radio" checked id="ip__checkout-1" class="checkout__control " value="1" name="chose" placeholder="Nhập họ tên">
                                    <span id="txtcheck_1" class="checkout__option" style="cursor:pointer">Mua hàng nhanh - Không cần đăng nhập</span>
                                </div>

                                <div class="form__groups">
                                    <input type="radio" id="ip__checkout-2" class="checkout__control" value="2" name="chose" placeholder="Nhập họ tên">
                                    <span id="txtcheck_2" class="checkout__option" style="cursor:pointer">Mua hàng bằng tài khoản</span>

                                </div>

                                <div class="box__account" style="display:none">
                                    <div class="form__group">
                                        <div class="mb-2">
                                            Vui lòng điền Email
                                        </div>
                                        @Html.TextBoxFor(m => m.Email, new { type = "email", @class = "txtlogin mb-2", @style = "width:500px;height:40px;padding:10px", @placeholder = "Email đăng nhập của bạn" })
                                    </div>
                                    <div class="form__group">
                                        <div class="mb-2">
                                            Vui lòng điền mật khẩu
                                        </div>
                                        @Html.TextBoxFor(m => m.Password, new {type="password", @class = "txtlogin ", @style = "width:500px;height:40px;padding:10px", @placeholder = "Mật khẩu của bạn" })
                                    </div>
                                    
                                </div>
                                @if (TempData["MESSAGE"]!=null)
                                {
                                       
                                    <div class="text-danger" style="font-size:14px">
                                        @TempData["MESSAGE"]
                                    </div>  
                                }
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-danger " style="font-size:15px;font-weight:600;width:500px;height:50px;border-radius:20px">TIẾN HÀNH ĐẶT HÀNG</button>
                            </div>
                        }
                    }
                    else
                    {
                        <div class="cart__title " style="font-size:18px">
                            Thông tin nhận hàng
                        </div>
                        <div style="font-size:14px" class="mt-3 px-4">
                            <span style="font-weight:600">Địa chỉ nhận hàng bên dưới:</span>
                            <div class="mt-3 p-4" style="border: 1px dashed #C7C7C7">
                                <span style="font-weight:600">@Model.Fullname</span>
                                <br />
                                <span >Địa chỉ: @Model.Address</span>
                                <br />
                                <span>Điện thoại: @Model.Phone</span>
                                <br />
                                <span>Email: @Model.Email</span>
                                <br />  
                                <a style="font-size:14px" href="/checkout/payment" class="btn btn-info mt-3 mr-3 px-5">Giao đến địa chỉ này</a>
                                <a style="font-size: 14px; color: #096B91" href="/my/account" class="btn btn-light mt-3 px-4">Thay đổi</a>
                            </div>
                            
                        </div>
                    }
                }
            </div>
            <div class="cart__right col-md-4">
                @{Html.RenderAction("ItemCheckOut", "Checkout"); }

            </div>
        </div>
        </div>
</div>
@section CLIENTSCRIPT{
    <script src="~/Assets/client/js/validate.js"></script>
        <script src="~/Assets/admin/controller/cartController.js"></script>

}