

@{
    ViewBag.Title = "Đăng ký";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebBookShop.Models.UserModel


@using (Html.BeginForm("Index", "Register", FormMethod.Post, new { @class = "formRegister box" }))
{
    @Html.ValidationSummary(true, "")
    <div class="cart d-flex justify-content-center" style="font-size:14px;padding:50px 0">
        <div class="bg-white pb-5 text-center" style="width:370px">
            @if (TempData["MESSAGE"] != null)
            {
                <div class="alert alert-danger alert-dismissible fade show mb-0 text-center" id="alo123">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    </button>
                    <strong>Thông báo!</strong> @TempData["MESSAGE"]
                </div>
            }
            <div class="top mb-5  pt-5">
                <header class="text-center mb-4" style="font-size:24px;font-weight:600">ĐĂNG KÝ</header>
                <span>Đã có tài khoản, đăng nhập <a href="/login" class="text-danger " style="font-weight:600">tại đây</a></span>

            </div>
            <div class="d-flex justify-content-center mb-4">
                @Html.TextBoxFor(m => m.Fullname, new { @style = "width:290px;height:45px;font-size:14px;background-color:#ebebeb", @class = "form-control px-4", @placeholder = "Họ và Tên *", required = "required" })
            </div>
            <div class="d-flex justify-content-center mb-4">
                @Html.TextBoxFor(m => m.Email, new { type = "email", @style = "width:290px;height:45px;font-size:14px;background-color:#ebebeb", @class = "form-control px-4", @placeholder = "Email *", required = "required" })

            </div>
            <div class="d-flex justify-content-center mb-1">
                @Html.TextBoxFor(m => m.Phone, new { @style = "width:290px;height:45px;font-size:14px;background-color:#ebebeb", @class = "form-control px-4", @placeholder = "Số điện thoại *", required = "required" })

            </div>
            <span class="text-danger">@TempData["PhoneError"]</span>
            <div class="d-flex justify-content-center mb-1 mt-4">
                @Html.TextBoxFor(m => m.Password, new { type = "password", @style = "width:290px;height:45px;font-size:14px;background-color:#ebebeb", @id = "password", @class = "form-control px-4", @placeholder = "Mật khẩu *", required = "required" })

            </div>
            <span class="text-danger">@TempData["PassError"]</span>
            @*<div class="d-flex justify-content-center mb-5">
            <input id="passwordConfirm" style="width:290px;height:45px;font-size:14px;background-color:#ebebeb" type="password" class="form-control px-4" placeholder="Nhập lại mật khẩu *" required>
            <i class='bx bx-lock-alt'></i>
        </div>*@
            <div class="d-flex justify-content-center mt-5">
                <button class="btn btn-danger" style="width:290px;height:45px;font-size:14px;font-weight:600;" type="submit">Đăng ký</button>
            </div>

            <div class="two-col">
                <div class="one">
                    <!-- <input type="checkbox" name="" id="check">
            <label for="check">Nhớ mật khẩu</label> -->
                </div>
            </div>
        </div>
    </div>

}
@section CLIENTSCRIPT{
    @*<script src="~/Assets/client/js/validate.js"></script>*@
    <script src="~/Assets/admin/plugins/common/common.min.js"></script>
    <script src="~/Assets/admin/js/custom.min.js"></script>
}
