
@{
    ViewBag.Title = "Cập nhập thông tin người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model WebBookShop.Models.UserModel


<div class="container-fluid">

    <div>
        <p>
            <a href="/admin/user" class="text-info">Quay lại </a>
            <span class="active">/ Cập nhập thông tin người dùng</span>
        </p>
    </div>


    @if (TempData["UPDATEUSER"] != null)
    {
        <div class="alert alert-@TempData["ALEART"] alert-dismissible fade show" id="alo123">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <strong>Thông báo!</strong> <br />
            <span>@TempData["UPDATEUSER"]</span>
        </div>
    }


    <div class="card">
        <div class="card-body">
            <div class="card-title mb-4">
                <h4>Cập nhập thông tin người dùng</h4>
            </div>
            <div class="basic-form">
                @using (Html.BeginForm("Edit", "User", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "")

                    @*<div class="form-group row">
                        <label class="col-sm-2 col-form-label">Email <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Nhập email", @id = "reloadtext", @type = "email", required = "required" })

                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Mật khẩu <span class="text-danger">*</span></label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = "Nhập mật khẩu", @id = "reloadtext", required = "required" })

                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>*@
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Họ tên</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control", @placeholder = "Nhập họ tên", @id = "reloadtext" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Chức vụ</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(m => m.RoleID, (SelectList)ViewBag.RoleList, new { @class = "form-control" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Số điện thoại</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @placeholder = "Nhập số điện thoại", @id = "reloadtext" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Địa chỉ</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control", @placeholder = "Nhập địa chỉ", @id = "reloadtext" })

                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" id="btnsave" class="btn btn-dark mt-3 mr-5">Cập nhập</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>